/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

@import 'tailwindcss';
@import 'tw-animate-css';
@import '../fonts/fonts.css';

@custom-variant dark (&:is(.dark *));

:root {
  --color-gray: oklch(96% 0.0063 255.48deg);
  --color-accent: oklch(56.69% 0.2057 258.44deg);
  --color-light-blue: oklch(95.22% 0.02 257.47deg);
  --transition-duration: 0.2s;
  --radius: 0.5rem;
  --background: oklch(92.797% 0.0001 271.152deg);
  --foreground: oklch(14.1% 0.005 285.823deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.1% 0.005 285.823deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.1% 0.005 285.823deg);
  --primary: oklch(62.3% 0.214 259.815deg);
  --primary-foreground: oklch(97% 0.014 254.604deg);
  --secondary: oklch(96.7% 0.001 286.375deg);
  --secondary-foreground: oklch(21% 0.006 285.885deg);
  --muted: oklch(96.7% 0.001 286.375deg);
  --muted-foreground: oklch(55.2% 0.016 285.938deg);
  --accent: oklch(96.7% 0.001 286.375deg);
  --accent-foreground: oklch(21% 0.006 285.885deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92% 0.004 286.32deg);
  --input: oklch(92% 0.004 286.32deg);
  --ring: oklch(62.3% 0.214 259.815deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.1% 0.005 285.823deg);
  --sidebar-primary: oklch(62.3% 0.214 259.815deg);
  --sidebar-primary-foreground: oklch(97% 0.014 254.604deg);
  --sidebar-accent: oklch(96.7% 0.001 286.375deg);
  --sidebar-accent-foreground: oklch(21% 0.006 285.885deg);
  --sidebar-border: oklch(92% 0.004 286.32deg);
  --sidebar-ring: oklch(62.3% 0.214 259.815deg);
}

.dark {
  --background: oklch(14.1% 0.005 285.823deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(21% 0.006 285.885deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(21% 0.006 285.885deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(54.6% 0.245 262.881deg);
  --primary-foreground: oklch(37.9% 0.146 265.522deg);
  --secondary: oklch(27.4% 0.006 286.033deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(27.4% 0.006 286.033deg);
  --muted-foreground: oklch(70.5% 0.015 286.067deg);
  --accent: oklch(27.4% 0.006 286.033deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(64.923% 0.2366 26.148deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(48.8% 0.243 264.376deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(21% 0.006 285.885deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(54.6% 0.245 262.881deg);
  --sidebar-primary-foreground: oklch(37.9% 0.146 265.522deg);
  --sidebar-accent: oklch(27.4% 0.006 286.033deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(48.8% 0.243 264.376deg);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;

    /* background-color: var(--color-gray); */
    font-family: Inter, sans-serif;
  }
}

@theme {
  --color-custom-gray: var(--color-gray);
  --color-custom-accent: var(--color-accent);
  --color-light-blue: var(--color-light-blue);
  --transition-duration: var(--transition-duration);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition: all var(--transition-duration);
}

/* :where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
} */

.dark * {
  scrollbar-color: #555 #1e1e1e;

  &::-webkit-scrollbar-thumb {
    background-color: #555;
  }

  &::-webkit-scrollbar-track {
    background-color: #1e1e1e;
  }

  .tiptap {
    code {
      color: var(--color-white);
      background-color: var(--color-neutral-600);
    }
  }
}

.tiptap {
  color: var(--foreground);

  :first-child {
    margin-top: 0;
  }

  ul,
  ol {
    margin: 0.5rem 1rem 0.5rem 0.4rem;
    padding: 0 1rem;

    li p {
      margin-top: 0.2em;
      margin-bottom: 0.2em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5rem;
    line-height: 1.1;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  code {
    padding: 0.25em 0.3em;
    border-radius: 0.4rem;

    font-size: 0.85rem;
    color: var(--color-black);

    background-color: var(--color-violet-50);
  }

  pre {
    margin: 1rem 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;

    font-family: JetBrainsMono, monospace;
    color: var(--foreground);

    background: var(--secondary);

    code {
      padding: 0;
      font-size: 0.8rem;
      color: inherit;
      background: none;
    }
  }

  blockquote {
    margin: 1rem 0;
    padding-left: 0.8rem;
    border-left: 3px solid var(--muted-foreground);
  }

  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--border);
  }
}

.ProseMirror {
  width: 100%;
  min-width: 0;
  min-height: 60px;
  padding: 8px;

  word-break: break-all;
  overflow-wrap: break-word;
}
